<form action='~/documents/upload/@Model.Container'
      class="dropzone"
      id="my-awesome-dropzone"></form>

<div class="flex-container">
    @foreach (var item in @Model.List)
    {
        <div class="flex-item">
            <figure>

                <img src="~/documents/@Model.Container/@item.Title" />
                <figcaption>
                    <a href="~/documents/@Model.Container/@item.Title">@item.Title</a>
                    <a href="~/documents/delete/@Model.Container/@item.Title">Delete</a>
                </figcaption>
            </figure>

        </div>
    }
</div>

