<!DOCTYPE html>
<html>
<head>
    <title>API</title>
    <script src="~/content/dropzone.js"></script>
    <link href="~/content/css/dropzone.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
</head>
    <body>
      <a href="~/documents/">Dokumenter</a>
     
    </body>
</html>
